/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : Jan 28, 2024, 10:18:03 PM
    Author     : jeremy
*/
.content-wrapper {
    padding-left: 200px;
    overflow-y: auto;
    background-color: #e8e8e8;
}
#addmember {
    background-color: #2E8B57;
    color: white;
    width: 250px;
    height: 50px;
    font-size: 24px;
    border-radius: 10px;
    padding: 5px;
    position: relative;
    right: -40px;
    top: 8px;
    cursor: pointer;
    border: none;
}
@keyframes moveUp {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-10px);
    }
}
#addmember:hover {
    animation: moveUp 0.5s ease;
    border-color: red;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}
.table-container {
    max-height: 500px; /* Set maximum height */
    overflow-y: auto; /* Add vertical scrollbar if content exceeds container height */
    /* Add more styling as needed */
    max-width: 95%;
    display: flex;
    flex-direction: column; /* Stack table rows vertically */
    position: relative;
    right: -40px;
}

.table-container table {
    width: 100%; /* Ensure the table takes up the full width of its container */
    border-collapse: collapse; /* Collapse table borders */
}

.table-container th,
.table-container td {
    border: 1px solid black; /* Add border to table cells */
    padding: 8px; /* Add padding to table cells for spacing */
}
table {
    max-width: 100%;
    border-collapse: collapse;
    margin-top: 75px;
    border: none;
    table-layout: fixed;
}
tr:hover {
    background-color: #f2f2f2;
}

/* Style table header */
th {
    background-color: #ba8461;
    color: #fff;
    padding: 15px; /* Increase padding for better visual appearance */
    text-align: center;
    border: 1px solid #fff;
}

/* Style table cells */
td {
    padding: 15px; /* Increase padding for better visual appearance */
    border: 1px solid #ddd; /* Add border to separate cells */
    text-align: center;
}

/* Style alternating rows for better readability */
tr:nth-child(even) {
    background-color: #fff; /* Change color for alternating rows */
}
label:not(.inventory) {
    display: inline-block; /* Display label inline-block */
    padding: 10px 20px; /* Adjust padding for desired button size */
    margin-right: 5px; /* Add margin for spacing */
    cursor: pointer; /* Set cursor to pointer on hover */
    border: 1px solid #ccc; /* Add border for button look */
    border-radius: 5px; /* Add rounded corners for button style */
    background-color: #f2f2f2; /* Set background color */
}

label:hover:not(.inventory:hover) {
    background-color: #e0e0e0; /* Change background on hover */
}
#dashboardheader {
    position:relative;
    top: 10px;
    right: -40rem;
    color: #fff;
    margin: 0;
    font-weight: lighter;
}
.dashboardbar {
    background-color: #8f654a;
    padding: 10px;
    position:fixed;
    top: -10px;
    right: -220px;
    width: 100%;
    z-index: 1;
    justify-content: center;
    align-items: center;
}
#button-css {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    width: 50%;
    position: relative;
    right: -62px;
}
.edit-picture {
    padding-right: 5px;
    height: 20px;
    text-align: center;
}
#button-css {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    width: 25%;
    position: relative;
    right: -120px;
}
#showpass {
    width: 40%;
    position: relative;
    right: -100px;
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
}
.info, .success, .warning, .error, .validation {
    border: 1px solid;
    margin: 10px 0px;
    padding: 15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
    font-size: 16px;
}
.info {
    color: #00529B;
    background-color: #BDE5F8;
    background-image: url('https://i.imgur.com/ilgqWuX.png');
}
.success {
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image: url('https://i.imgur.com/Q9BGTuy.png');
}
.warning {
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url('https://i.imgur.com/Z8q7ww7.png');
}
.error{
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('https://i.imgur.com/GnyDvKN.png');
}
.validation{
    color: #D63301;
    background-color: #FFCCBA;
    background-image: url('https://i.imgur.com/GnyDvKN.png');
}
@media screen and (min-width: 1920px) {
    #dashboardheader {
        position:relative;
        top: 10px;
        right: -50rem;
        color: #fff;
        margin: 0;
        font-weight: lighter;
    }
    .dashboardbar {
        background-color: #8f654a;
        padding: 10px;
        position:fixed;
        top: -10px;
        right: -220px;
        width: 100%;
        z-index: 1;
        justify-content: center;
        align-items: center;
    }
    #button-css {
        display: flex;
        align-items: center;
        border: 1px solid #ccc;
        border-radius: 5px;
        cursor: pointer;
        width: 22%;
        position: relative;
        right: -145px;
    }
    #showpass {
        width: 35%;
        position: relative;
        right: -130px;
        display: flex;
        align-items: center;
        border: 1px solid #ccc;
        border-radius: 5px;
        cursor: pointer;
        position: relative;
    }
}

