/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : Jan 28, 2024, 10:18:03 PM
    Author     : jeremy
*/
#addmember {
    background-color: #8f654a;
    color: white;
    width: 250px;
    height: 50px;
    font-size: 24px;
    border-radius: 10px;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

button {
    padding: 8px 12px;
    margin-right: 5px;
    cursor: pointer;
}
