/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : Jan 28, 2024, 10:18:03 PM
    Author     : jeremy
*/
/* Content Wrapper */

.content-wrapper {
    padding-left: 200px; /* Add padding to the left */
} 
#addmember {
    background-color: #8f654a;
    color: white;
    width: 250px;
    height: 50px;
    font-size: 24px;
    border-radius: 10px;
    padding: 5px;
    margin-left: 10px;
    margin-top: 5px;
    cursor: pointer;
}
/* Keyframes for Inventory Animation */
@keyframes moveUp {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-10px);
    }
}
#addmember:hover {
    animation: moveUp 0.5s ease;
    border-color: red;
}
/* Body */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}
/* Table Styles */
table {
    width: 95rem;
    border-collapse: collapse;
    margin-top: 20px;
    height: 12px;
}

th, td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

/* Style table header */
th {
    background-color: #8f654a;
    color: #fff;
    padding: 15px; /* Increase padding for better visual appearance */
    text-align: center;
    border: 1px solid #fff;
}

/* Style table cells */
td {
    padding: 15px; /* Increase padding for better visual appearance */
    border: 1px solid #ddd; /* Add border to separate cells */
    text-align: center;
}

/* Style alternating rows for better readability */
tr:nth-child(even) {
    background-color: #f9f9f9; /* Change color for alternating rows */
}
/* Dashboard header */
#dashboardheader {
    position:relative;
    top: 10px;
    color: #fff;
    margin: 0;
    font-weight: lighter;
}
/* Dashboard bar */
.dashboardbar {
    background-color: #8f654a;
    padding: 10px;
    position:absolute;
    top: -10px;
    right: -220px;
    width: 100%;
    z-index: 1;
}
#button-css {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    padding: 8px 12px;
    width: 90%;
}
#edit-picture {
    margin-right: 5px;
    height: 15px;
}

