/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 03 7, 24, 2:57:42 PM
    Author     : BioStaR
*/
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

#dashboardheader {
    position:relative;
    top: 10px;
    left: 35rem;
    color: #fff;
    margin: 0;
    font-weight: lighter;
}
.dashboardbar {
    background-color: #8f654a;
    padding: 10px;
    position:absolute;
    top: -10px;
    right: -220px;
    width: 100%;
    z-index: 1;
}
.item-container {
    width: 100%;
    margin: 20px auto;
    padding: 20px;
    border: 2px solid black;
    border-radius: 8px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    position: relative;
    right: -30rem;
}

.item-container h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.item-container label {
    display: block;
    margin-bottom: 10px;
}

.item-container input[type="text"],
.item-container input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.item-container input[type="radio"] {
    margin-right: 5px;
}

.item-container select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
#return {
    background-color: #900603;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    position: relative;
    top: 705px;
    right: -2.5rem;
}

.item-container:hover {
    background-color: #bfefbb;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}
.item-container input[type="submit"] {
    display: inline-block;
    padding: 10px 15px;
    background-color: #8f654a;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: relative;
    right: -15rem;
}
@keyframes scaleUp {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}
.item-container input[type="submit"]:hover {
    animation: scaleUp 0.3s ease;
    background-color: #e7a74f ;
}
.error-message {
    display: inline-block;
    border: 2px solid red;
    padding: 10px;
    margin-top: 20px;
    position: relative;
    right: -33rem;
    animation: rotateError 0.5s ease-in-out;
    color: red;
    font-weight: bold;
    margin-top: 10px;
}
@keyframes rotate {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(20deg);
    }
}