/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 02 12, 24, 2:26:51 AM
    Author     : BioStaR
*/
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.container {
    display: flex;
    height: 100vh;
}
.sidebar {
    width: 200px;
    background-color: #bfefbb;
    padding-top: 200px;
    color: white;
    text-align: center;
}
.menu-item {
    width: 100%;
    padding: 10px;
    margin: 5px;
    text-decoration: none;
    color: white;
    background-color: #bfefbb;
    border: none;
    cursor: pointer;
    color: black;
    font-size: 20px;
    position: relative;
    right: 5px;
    bottom: 7rem;
    transition: background-color 0.3s, color 0.3s;
}

.menu-item:hover,
.menu-item:focus {
    background-color: #8f654a;
    color: white;
}
#homebutton img {

    max-width: 200%;
    max-height: 200%;
    object-fit: contain;
}
#homebutton{
    width: 200px;
    height: 100px;
    position: relative;
    bottom: 220px;
    right: 5px;
    border: none;
    background-color: #bfefbb;
    cursor: pointer;
}
#homebutton:hover{
    background-color: initial;
}
#accountlist {
    width: 100%;
    margin: 5px;

}
#logout{
    background-color: #8f654a;
    color: white;
}
body {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}
