/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 02 12, 24, 2:26:51 AM
    Author     : BioStaR
*/
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: auto;
}

.container {
    display: flex;
    height: 100vh;
}
.sidebar {
    width: 200px;
    background-color: #bfefbb;
    padding-top: 200px;
    color: white;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    z-index: 1;
}
.menu-item {
    width: 100%;
    padding: 7px; /* Maintain some padding for aesthetics */
    margin: 5px;
    text-decoration: none;
    color: white;
    background-color: #bfefbb;
    border: none;
    cursor: pointer;
    color: black;
    font-size: 18px;
    position: relative;
    right: 5px;
    bottom: 5rem;
    transition: background-color 0.3s, color 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
    text-align: center;
}

/* New rule for non-clickable overlay */
.menu-item::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; /* Make sure it sits behind button content */
    pointer-events: none; /* This prevents clicks from registering */
}
.menu-item img {
    margin-bottom: 5px; /* Add some space between image and text */
}

.menu-item:hover,
.menu-item:focus {
    background-color: #8f654a;
    color: white;
}
#homebutton img {

    max-width: 180%;
    max-height: 180%;
    object-fit: contain;
}
#homebutton{
    width: 200px;
    height: 100px;
    position: relative;
    bottom: 220px;
    right: 5px;
    border: none;
    background-color: #bfefbb;
    cursor: pointer;
}
#homebutton:hover{
    background-color: initial;
}
#accountlist {
    width: 100%;
    margin: 5px;

}
#logout{
    background-color: #8f654a;
    color: white;
}
body {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color:  #8f654a; /* Adjust background color as needed */
    padding: 1px;
    text-align: center;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    z-index: 2;
}

.footer nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex; /* Add flex display */
    justify-content: center; /* Center-align the items */
}

.footer nav ul li {
    display: inline;
    margin-right: 5px; /* Adjust spacing between menu items */
    position: relative;
    left: 5px;
}
.footer nav ul li a {
    color: white; /* Set link color to white */
    text-decoration: none; /* Remove underline */
}

.footer nav ul li a:hover {
    text-decoration: underline; /* Add underline on hover */
}

.footer nav ul li:not(:last-child)::after {
    content: "\00B7"; /* Unicode character for middle dot (·) */
    margin-left: 5px; /* Adjust spacing between text and dot */
}
.footer nav ul li:last-child {
    margin-right: 0;

}
.footer p {
    position: relative;
    right: 5px; /* Move the paragraph to the left */
}
#leafBG {
    position: fixed;
    right: -7rem;
    top: 30rem;
    width: 500px;
    height: 500px;
    margin-right: 5px;
    z-index: 0;
}
/* Define fade-in and fade-out animations */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* Apply fade-in and fade-out animations to main content */
.main-content {
    animation: fadeIn 0.5s ease forwards;
    opacity: 0; /* Initially hide the main content */
}

/* Apply fade-out animation when navigating away */
.fade-out {
    animation: fadeOut 0.5s ease forwards;
}
@media screen and (max-width: 1440px) {
    #leafBG {
        position: fixed;
        right: -7rem;
        top: 40rem;
    }
}
@media screen and (min-width: 1920px) {
    #leafBG {
        position: fixed;
        right: -7rem;
        top: 35rem;
        width: 600px;
        height: 600px;
        margin-right: 5px;
        z-index: 0;
    }
    .footer {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color:  #8f654a; /* Adjust background color as needed */
        padding: 1px;
        text-align: center;
        color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 12px;
        z-index: 50;
    }
}

