/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 03 7, 24, 2:57:42 PM
    Author     : BioStaR
*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 200px;
}
#dashboardheader {
    position:relative;
    top: 10px;
    right: -35rem;
    color: #fff;
    margin: 0;
    font-weight: lighter;
}
.dashboardbar {
    background-color: #8f654a;
    padding: 10px;
    position:fixed;
    top: -10px;
    right: -220px;
    width: 100%;
    z-index: 1;
    justify-content: center;
    align-items: center;
}
h1 {
    margin: 0;
}

form {
    max-width: 600px;
    margin: 0 auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border-bottom: 1px solid #ddd;
}

th {
    text-align: left;
}

.class-options, .box-container {
    display: flex;
    flex-wrap: wrap;
}

.label-container {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

input[type="checkbox"] {
    margin-right: 5px;
}
