/*
  Created on : 03 7, 24, 2:57:42 PM
  Author   : BioStaR
*/
/* Body */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

/* Dashboard header */
#dashboardheader {
  position: relative;
  top: 10px;
  left: 35rem;
  color: #fff;
  margin: 0;
  font-weight: lighter;
}

/* Dashboard bar */
.dashboardbar {
  background-color: #8f654a;
  padding: 10px;
  position: absolute;
  top: -10px;
  right: -220px;
  width: 100%;
  z-index: 1;
}

.class-options {
  display: flex;
  flex-wrap: wrap;
}

.class-options label {
  margin-right: 20px;
}

.item-container {
  width: 25%;
  height: 71%;
  margin: 20px auto;
  padding: 20px;
  border: 2px solid black;
  border-radius: 8px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  position: relative;
  /* Adjust these values to position the container as desired */
  right: -2rem;  /* Remove horizontal offset */
  top: 5rem; /* Move down 50px from the top */
}

.item-container h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.item-container label {
  display: block;
  margin-bottom: 10px;
}

.item-container input[type="text"],
.item-container input[type="number"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.item-container input[type="radio"] {
  margin-right: 5px;
}

.item-container select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Return button */
#return {
  background-color: #900603;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  position: relative;
  /* Adjust these values to position the button as desired */
  top: 10px;  /* Move down 30px from the bottom*/
  right: -3.5rem;
}

.box-container {
  border: 1px solid black;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.item-container:hover {
  background-color: #bfefbb;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}
.item-container input[type="submit"] {
  display: inline-block;
  padding: 10px 15px;
  background-color: #8f654a;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: relative;
  /* Adjust these values to position the submit button as desired */
    top: 10px;  /* Move down 30px from the bottom of the container */
  right: -10rem;
  }
  @keyframes scaleUp {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}
item-container input[type="submit"]:hover {
    animation: scaleUp 0.3s ease;
    background-color: #e7a74f ;
}
  