/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : Jan 30, 2024, 11:04:03 PM
    Author     : jeremy
*/
.inventory {
    background-color: #8f654a;
    color: white;
    width: 230px;
    height: 50px;
    font-size: 24px;
    border-radius: 10px;
    border: 2px solid #000000;
    transition: border-color 0.3s ease;
    cursor: pointer;
}
@keyframes moveUp {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-10px);
    }
}
.inventory:hover {
    animation: moveUp 0.5s ease;
    border-color: red;
}
#searchBar {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-image: url('../photos/searchicon.png'); /* Add path to your search icon image */
    background-repeat: no-repeat;
    background-position: 200px center; /* Adjust the position of the icon */
    height: 32px;
    width: 14.5rem;
    position: relative;
    left: 16rem;
}
.others{
    position: relative;
    top: 50px;
    display: inline-block;
    margin: 5px;
    padding: 5px;
    display: flex;
    gap: 10px;
}
#dateText {
    font-size: 18px;
    font-weight: 100;
}
th {
    background-color: #8f654a;
    color: #fff;
    padding: 10px;
    text-align: left;
    border: 1px solid #fff; /* Optional: Add a white border for better separation */
}
table {
    width: 114%;
    border-collapse: collapse;
    margin-top: 75px;
    border: none;
}
#dashboardheader {
    position:relative;
    top: 10px;
    color: #fff;
    margin: 0;
    font-weight: lighter;
}
.dashboardbar {
    background-color: #8f654a;
    padding: 10px;
    position:absolute;
    top: -10px;
    right: -220px;
    width: 100%;
    z-index: 1;
}
@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Apply these classes to the main content element */
.fade-out {
    animation: fadeOut 0.5s ease-in-out forwards;
}

.fade-in {
    animation: fadeIn 0.5s ease-in-out forwards;
}