/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : Jan 30, 2024, 11:04:03 PM
    Author     : jeremy
*/
.inventory {
    background-color: #5b5657;
    color: white;
    width: 230px;
    height: 50px;
    font-size: 24px;
    border-radius: 10px;
}
#searchBar {
    flex: 1;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-image: url('../photos/searchicon.png'); /* Add path to your search icon image */
    background-repeat: no-repeat;
    background-position: 200px center; /* Adjust the position of the icon */
    padding-left: 40px; /* Ensure space for the icon */
    height: 32px;
    position: relative;
    top: -3px;
}
#generate {
    position: relative;
    top: -20px;
}
.others{
    position: relative;
    top: 0px;
}
#inventorytable {
   width: 1420px; /* Adjust the width as needed */
    height: auto; 
}
#dateText {
    font-size: 24px;
}