/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : Jan 26, 2024, 3:21:59 PM
    Author     : jeremy
*/
* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(to bottom right, #f4eebe 50%, #fff 50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    margin: -20px 0 50px;
    overflow: hidden;
}
h1 {
    font-weight: bold;
    margin: 0;
}

p {
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
}

span {
    font-size: 12px;
}

a {
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
}

button {
    border-radius: 20px;
    border: 1px solid #FF4B2B;
    background-color: #FF4B2B;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}

form {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
}

input {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
}

.container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    position: absolute;
    top: 280px;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
}

.form-container {
    position: absolute;
    top: 0;
    height: 100%;
}

.log-in-container {
    left: 0;
    width: 50%;
    z-index: 2;
}


.overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
}


.overlay {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    color: #FFFFFF;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
}

.overlay-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
}


.overlay-right {
    right: 0;
}


.social-container {
    margin: 50px 0;
}

.social-container a {
    border: 1px solid #DDDDDD;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    height: 40px;
    width: 40px;
}
.title-image {
    position: absolute;
    top: 65px;
    right: 625px;
    max-width: 100%;
}
.title-logo {
    max-width: 100%;
    position: absolute;
    top: 25px;
    right: 420px;
    width: 250px;
}
.mySlides {
    display:none;
}
#signin {
    font-size: 24px;
    margin-right: 180px;
    margin-bottom: 50px;
}

.label-input-group label {
    font-weight: bold;
    margin-right: 180px;
}

.label-input-group input {
    border-radius: 10px;
    margin-right: 180px;
}

#loginbutton {
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    background-color: #00af50;
    color: #FFFFFF;
    animation: loginAnimation 0.5s ease-in-out;
}
#loginbutton:hover {
    background-color: #542b0b;
    color: #FFFFFF;
    animation: loginHoverAnimation 0.5s ease-in-out;

}
@keyframes loginAnimation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes loginHoverAnimation {
    0% {
        background-color: #00af50;
    }
    50% {
        background-color: #542b0b;
    }
    100% {
        background-color: #542b0b;
    }
}

.form-container {
    max-width: 400px;
    margin: 0 auto;
    z-index: 1;
    position: absolute;
    top: 50;
}
#forgot-password {
    position: relative;
    margin-left: 170px;
    margin-bottom: 5px;
    color: #00af50;
}
label[for="rememberme"] {
    margin-right: 150px;
    margin-top: -38px;
    font-size: 14px;
}

input[type="checkbox"] {
    position: absolute;
    bottom: 68px;
    right: 135px;
}
.bottom-leaves {
    position: relative;
    top: 420px;
    left: 650px;
    width: 40%;
    z-index: 0; /* Set a lower z-index for the leaves, making sure it's behind the form */
}
.top-beans {
    position: relative;
    bottom: 650px;
    right: 800px;
    width: 25%;
    z-index: 0; /* Set a lower z-index for the leaves, making sure it's behind the form */
}
body {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

#login-form { /* Optional styling for your login form */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.modal {
    display: none; /* Initially hidden */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Transparent background */
    padding-top: 50px;
}
#forgot-password-form {
    margin: auto;
    background-color: #FFFFFF;
    width: 25%;
    height: 25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    text-align: center;
    margin-top: 16rem;
    border-radius: 10px;
}
@font-face {
    font-family: 'Karma';
    src: url('path/to/karma-font.woff2') format('woff2'), /* Modern Browsers */
        url('path/to/karma-font.woff') format('woff'); /* Legacy Browsers */
    font-family: 'Lohit Bengali';
    src: url('path/to/lohit-bengali.woff2') format('woff2'), /* Modern Browsers */
        url('path/to/lohit-bengali.woff') format('woff'); /* Legacy Browsers */
}
.close-forgot-form {
    position: absolute;
    top: 20rem;
    right: 610px;
    background-color: transparent;
    border: none;
    color: #ccc;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s ease;
}

.close-forgot-form:hover {
    color: #333;
}
#FPsubmit {
    position: relative;
    top: -1.5rem;
    background-color: #00af50;
    cursor: pointer;
    border:none;
    animation: FPAnimation 0.5s ease-in-out;
}
#FPsubmit:hover {
    background-color: #542b0b;
    animation: FPHoverAnimation 0.5s ease-in-out;
}
@keyframes FPAnimation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes FPHoverAnimation {
    0% {
        background-color: #00af50;
    }
    50% {
        background-color: #542b0b;
    }
    100% {
        background-color: #542b0b;
    }
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}
.info, .success, .warning, .error, .validation {
    border: 1px solid;
    margin: 10px 0px;
    padding: 15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
    font-size: 16px;
}
.info {
    color: #00529B;
    background-color: #BDE5F8;
    background-image: url('https://i.imgur.com/ilgqWuX.png');
}
.success {
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image: url('https://i.imgur.com/Q9BGTuy.png');
}
.warning {
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url('https://i.imgur.com/Z8q7ww7.png');
}
.error{
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('https://i.imgur.com/GnyDvKN.png');
}
.validation{
    color: #D63301;
    background-color: #FFCCBA;
    background-image: url('https://i.imgur.com/GnyDvKN.png');
}
@media screen and (max-width: 1440px) {
    .container {
        position: absolute;
        right: 24rem;
    }
    .title-image {
        position: absolute;
        top: 65px;
        right: 525px;
        max-width: 100%;
    }
    .title-logo {
        max-width: 100%;
        position: absolute;
        top: 25px;
        right: 320px;
        width: 250px;
    }
    .bottom-leaves {
        position: relative;
        top: 380px;
        left: 470px;
        width: 60%;
        z-index: 0; /* Set a lower z-index for the leaves, making sure it's behind the form */
    }
    .top-beans {
        position: relative;
        bottom: 850px;
        right: 700px;
        width: 30%;
        z-index: 0; /* Set a lower z-index for the leaves, making sure it's behind the form */
    }
    #forgot-password-form {
        position: relative;
        right: 100px;
    }
    .close-forgot-form {
        position: absolute;
        top: 0.5rem;
        right: -18px;
        background-color: transparent;
        border: none;
        color: #ccc;
        font-size: 24px;
        font-weight: bold;
        cursor: pointer;
        transition: color 0.3s ease;
    }

}
@media screen and (min-width: 1920px) {
    .bottom-leaves {
        position: relative;
        top: 500px;
        left: 690px;
        width: 40%;
        z-index: 0;
    }
    #cup {
        position: fixed;
        top: 450px;
        right: 700px;
        z-index: 1
    }
    .top-beans {
        position: relative;
        bottom: 750px;
        right: 950px;
        width: 25%;
        z-index: 0;
    }
    .container {
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        position: absolute;
        top: 250px;
        right: 500px;
        overflow: hidden;
        width: 868px;
        max-width: 100%;
        min-height: 580px;
    }
    .title-image {
        position: absolute;
        top: 40px;
        right: 690px;
        max-width: 100%;
        width: 700px;
    }
    .title-logo {
        max-width: 100%;
        position: absolute;
        top: 1px;
        right: 450px;
        width: 300px;
    }
    .close-forgot-form {
        position: absolute;
        top: 20rem;
        right: 800px;

    }
    #forgot-password-form {
        margin: auto;
        background-color: #FFFFFF;
        width: 20%;
        height: 25rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0 50px;
        text-align: center;
        margin-top: 16rem;
        border-radius: 10px;
    }
    #signin {
        font-size: 32px;
        margin-right: 180px;
        margin-bottom: 50px;
    }
    .label-input-group label {
        font-weight: bold;
        margin-right: 180px;
        font-size: 18px;
    }
    input {
        background-color: #eee;
        border: none;
        padding: 12px 15px;
        margin: 8px 0;
        width: 100%;
        font-size: 18px;
    }
    label[for="rememberme"] {
        margin-right: 150px;
        margin-top: -38px;
        font-size: 14px;
    }
    #forgot-password {
        position: relative;
        margin-left: 170px;
        margin-bottom: 5px;
        font-size: 14px;
        color: #00af50;
        white-space: nowrap;
    }
    input[type="checkbox"] {
        position: absolute;
        bottom: 98px;
        right: 135px;
    }
    element.style {
        font-size: 18px;
        position: relative;
        left: -5.9rem;
        top: -2.5rem;
    }
    .error{
        position: relative;
        bottom: 80px;
    }
}
