/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : Jan 30, 2024, 11:04:03 PM
    Author     : jeremy
*/
.inventory {
    background-color: #8f654a;
    color: white;
    width: 230px;
    height: 50px;
    font-size: 24px;
    border-radius: 10px;
}
.others{
    position: relative;
    top: 50px;
    display: inline-block;
    margin: 5px;
    padding: 5px;
    display: flex;
    gap: 10px;
}
#searchBar {
    flex: 1;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-image: url('../photos/searchicon.png'); /* Add path to your search icon image */
    background-repeat: no-repeat;
    background-position: 200px center; /* Adjust the position of the icon */
    padding-left: 40px; /* Ensure space for the icon */
    height: 32px;
    position: relative;
    left: 500px;
}
#salestable {
    width: 1420px; /* Adjust the width as needed */
    height: auto;
}
#dateText {
    font-size: 18px;
    font-weight: 100;
}
#inventoryprice::placeholder{
    color: black;
}
#inventoryprice{
    position: relative;
    left: 1250px;
    bottom: 40px;
}
#costs {
    position: relative;
    left: 1100px;
    bottom: 20px;
}
th {
    background-color: #8f654a;
    color: #fff;
    padding: 10px;
    text-align: left;
    border: 1px solid #fff; /* Optional: Add a white border for better separation */
}
table {
    width: 152%;
    border-collapse: collapse;
    margin-top: 75px;
    border: none;
}
@media only screen and (max-width: 600px) {
    .inventory {
        width: 100%;
        margin-bottom: 10px; /* Optional: Add some spacing between buttons */
    }

    #searchBar {
        width: 80%; /* Adjust the width as needed */
        box-sizing: border-box; /* Include padding and border in the width */
        margin-bottom: 10px; /* Optional: Add some spacing */
        padding: 8px; /* Add padding for better appearance */
    }

    #dateText {
        font-size: 16px; /* Adjust the font size for smaller screens */
        font-weight: 100;
    }

    #costs {
        margin-bottom: 10px; /* Optional: Add some spacing */
    }

    th {
        /* Adjust styles for th in mobile view */
        padding: 8px; /* Example: Reduce padding for smaller screens */
    }
}
.table-container {
    overflow-x: auto;
}

img {
    max-width: 100%;
    height: auto;
}
#dashboardheader {
    position:relative;
    top: 10px;
    color: #fff;
    margin: 0;
    font-weight: lighter;
}
.dashboardbar {
    background-color: #8f654a;
    padding: 10px;
    position:absolute;
    top: -10px;
    right: -220px;
    width: 100%;
    z-index: 1;
}
