/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 04 13, 24, 1:16:15 PM
    Author     : BioStaR
*/
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  overflow: hidden;
}
.content-container {
    position: relative;
    right: -50rem;
    top: 30rem;
}

#dashboardheader {
  position: relative;
  top: 10px;
  left: 35rem;
  color: #fff;
  margin: 0;
  font-weight: lighter;
}

.dashboardbar {
  background-color: #8f654a;
  padding: 10px;
  position: absolute;
  top: -10px;
  right: -220px;
  width: 100%;
  z-index: 1;
}

.class-options {
  display: flex;
  flex-wrap: wrap;
}

.class-options label {
  margin-right: 20px;
}
.box-container {
  border: 1px solid black;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

