/* General styling */
.content-wrapper {
    padding-left: 200px;
    overflow-y: auto;
    background-color: #e8e8e8;
    overflow: hidden;
}

/* Inventory button */
.inventory {
    background-color: #2E8B57;
    color: white;
    width: 230px;
    height: 50px;
    font-size: 24px;
    border-radius: 10px;
    border: 2px solid #000000;
    transition: border-color 0.3s ease;
    cursor: pointer;
    border: none;
}
#others{
    position: relative;
    top: -42px;
    right: -40px;
    display: inline-block;
    margin: 5px;
    padding: 5px;
    display: flex;
    gap: 10px;
}
@keyframes moveUp {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-10px);
    }
}

.inventory:hover {
    animation: moveUp 0.5s ease;
    border-color: red;
}
.searchContainer {
    display: inline-block; /* Ensure the container only occupies necessary space */
    position: fixed;
    right: 185px;
    top: 62px;
}
#searchBar {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    height: 32px;
    width: 12.5rem;
    position: relative;
    left: 11rem;
    outline: #dddddd;
}
#search {
    border: none;
    background: #dddddd;
    background-size: contain;
    padding: 0;
    cursor: pointer;
    width: 20%;
    height: 50%;
    position: relative;
    left: 22.9rem;
    top: -3.1rem;
}
#search:hover{
    background: grey;

}
.Delivery-Container {
    display: inline-block;
    position: relative;
    right: -300px;
    bottom: -25px;
    background: linear-gradient(to bottom, #006f3d, #bfefbb);
    padding: 10px;
    padding-right: 10px;
    border-radius: 10px;
    font-size: 14px;
}
#DC {
    background: linear-gradient(to bottom, #006f3d, #bfefbb);
}
.Delivery-Container h1 {
    display: inline-block;
    margin: 0; /* Remove default margin */
}

.Delivery-Container h1:first-child {
    margin-right: 30px; /* Add some space between the two h1 elements */
}
.table-container {
    max-height: 1000px; /* Set maximum height */
    overflow: hidden; /* Add vertical scrollbar if content exceeds container height */
    /* Add more styling as needed */
    max-width: 95%;
    display: flex;
    flex-direction: column; /* Stack table rows vertically */
    position: relative;
    right: -40px;
    top: 53px;
}


.table-container table {
    width: 100%; /* Ensure the table takes up the full width of its container */
    border-collapse: collapse; /* Collapse table borders */
}

.table-container th,
.table-container td {
    border: 1px solid black; /* Add border to table cells */
    padding: 8px; /* Add padding to table cells for spacing */
}
th {
    background-color: #8f654a;
    color: #fff;
    padding: 10px;
    text-align: center;
    border: 1px solid #fff; /* Optional: Add a white border for better separation */
    font-size: 14px;
}
table {
    max-width: 100%;
    border-collapse: collapse;
    margin-top: 75px;
    border: none;
    table-layout: fixed;
}
tr:hover {
    background-color: #f2f2f2;
}

/* Style table header */
th {
    background-color: #ba8461;
    color: #fff;
    padding: 15px; /* Increase padding for better visual appearance */
    text-align: center;
    border: 1px solid #fff;
}

/* Style table cells */
td {
    padding: 15px; /* Increase padding for better visual appearance */
    border: 1px solid #ddd; /* Add border to separate cells */
    text-align: center;
    font-size: 14px;
}

/* Style alternating rows for better readability */
tr:nth-child(even) {
    background-color: #fff; /* Change color for alternating rows */
}
label:not(.inventory) {
    display: inline-block; /* Display label inline-block */
    padding: 10px 20px; /* Adjust padding for desired button size */
    margin-right: 5px; /* Add margin for spacing */
    cursor: pointer; /* Set cursor to pointer on hover */
    border: 1px solid #ccc; /* Add border for button look */
    border-radius: 5px; /* Add rounded corners for button style */
    background-color: #f2f2f2; /* Set background color */
}

label:hover:not(.inventory:hover) {
    background-color: #e0e0e0; /* Change background on hover */
}
#dashboardheader {
    position:relative;
    top: 10px;
    right: -42rem;
    color: #fff;
    margin: 0;
    font-weight: lighter;
}
.dashboardbar {
    background-color: #8f654a;
    padding: 10px;
    position:fixed;
    top: -10px;
    right: -220px;
    width: 100%;
    z-index: 1;
    justify-content: center;
    align-items: center;
}
/* Button */
#button-css {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

#edit-picture {
    margin-right: 5px;
    height: 15px;
}
input[type="number"] {
    padding-block: 1px;
    padding-inline: 1px;
    width: 100%;
    text-align: center;
}
#savechanges {
    position: fixed;
    right: 1210px;
    top: 60px;
}
.sorting {
    background-color: #ba8461;
    border: none;
    cursor: pointer;
    color: white;
    height: 3%;
}
.pagination {
    margin-top: 20px;
    max-height: 1000px; /* Set maximum height */
    overflow-y: auto; /* Add vertical scrollbar if content exceeds container height */
    /* Add more styling as needed */
    max-width: 95%;
    display: flex;
    flex-direction: column; /* Stack table rows vertically */
    position: relative;
    right: -650px;
    top: 80px;

}

.pagination td {
    padding: 10px 20px;
}

.pagination input[type="submit"] {
    background-color: #2e8b57; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.pagination input[type="submit"]:hover {
    background-color: #45a049;
}
@media screen and (max-width: 1440px) {
    .inventory {
        font-size: 20px;
        width: 174px;
    }
    table {
        font-size: 14px;
    }
    #upload {
        position: relative;
        right: 0rem;
        top: 0rem;
        font-size: 14px;
    }
    #disable-css {
        position: relative;
        left: 12px;
    }
    .Delivery-Container {
        position: relative;
        right: -230px;
        bottom: -25px;
        width: 345px;
    }
    .searchContainer {
        display: inline-block; /* Ensure the container only occupies necessary space */
        position: fixed;
        right: 185px;
    }
    th {
        font-size: 13px;
    }

}
@media screen and (min-width: 1920px) {
    .searchContainer{
        position: fixed;
        right: 195px;
    }
    #dashboardheader {
        position:relative;
        top: 10px;
        right: -50rem;
        color: #fff;
        margin: 0;
        font-weight: lighter;
    }
    .dashboardbar {
        background-color: #8f654a;
        padding: 10px;
        position:fixed;
        top: -10px;
        right: -220px;
        width: 100%;
        z-index: 1;
        justify-content: center;
        align-items: center;
    }
    #savechanges {
        position: fixed;
        right: 1449px;
        top: 60px;
    }
    .pagination {
        position: relative;
        right: -800px;
        top: 80px;

    }
}