/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : Jan 30, 2024, 11:04:03 PM
    Author     : jeremy
*/
.inventory {
    background-color: #8f654a;
    color: white;
    width: 230px;
    height: 50px;
    font-size: 24px;
    border-radius: 10px;
}
.others{
    position: relative;
    top: 50px;
    display: inline-block;
    margin: 5px;
    padding: 5px;
    display: flex;
    gap: 10px;
}
#searchBar {
    flex: 1;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-image: url('../photos/searchicon.png'); 
    background-repeat: no-repeat;
    background-position: 200px center; 
    padding-left: 40px; 
    height: 32px;
    position: relative;
    left: 1230px;
    top: -10px;
}
#generate {
    position: relative;
    top: -1.5px;
}
#dateText {
    font-size: 18px;
    font-weight: 100;
}
th {
    background-color: #8f654a;
    color: #fff;
    padding: 10px;
    text-align: left;
    border: 1px solid #fff; /* Optional: Add a white border for better separation */
}
table {
    width: 174%;
    border-collapse: collapse;
    margin-top: 75px;
    border: none;
}
#dashboardheader {
    position:relative;
    top: 10px;
    color: #fff;
    margin: 0;
    font-weight: lighter;
}
.dashboardbar {
    background-color: #8f654a;
    padding: 10px;
    position:absolute;
    top: -10px;
    right: -220px;
    width: 100%;
    z-index: 1;
}

