/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : Jan 27, 2024, 8:37:07 PM
    Author     : jeremy
*/

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #e8e8e8;
}

.container {
    display: flex;
    align-items: start; /* Align items from the top */
    justify-content: center; /* Center items horizontally */
    height: 100vh;
    padding-top: 100px; /* Use padding instead of top for positioning */
    position: relative;
    right: 21rem;
    top: -4rem;
}
#dashboardheader {
    position:relative;
    top: 10px;
    right: -40rem;
    color: #fff;
    margin: 0;
    font-weight: lighter;
}
.dashboardbar {
    background-color: #8f654a;
    padding: 10px;
    position:fixed;
    top: -10px;
    right: -220px;
    width: 100%;
    z-index: 1;
    justify-content: center;
    align-items: center;
}
.main-content, .content-wrapper {
    flex: 1;
    background-color: #e8e8e8;
    padding: 20px;
    overflow-y: hidden; /* Makes content scrollable */
}

iframe {
    width: 100%;
    height: calc(100vh - 40px); /* Adjust height based on your header */
    border: none;
}
.graphBox {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 20px;
    padding: 20px;
    overflow: hidden;
    width: 85%;
}
.box {
    width: 85%;
    position: relative;

}
.graphBox .box {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    overflow: hidden;
}
#OSC {
    font-size: 24px;
    color: #333; /* Dark text color for readability */
    text-align: center; /* Center-align headers */
    margin-top: 20px; /* Space above headers */
    margin-bottom: 20px; /* Space below headers */
}
.chart-container {
    flex: 1;
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-right: 20px; /* Add margin between boxes */
    padding: 20px;
}

.box {
    flex: 1;
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-right: 20px; /* Add margin between boxes */
}
#Coffee {
    width: 250px;
    height: 250px;
    position: fixed;
    right: 95rem;
    top: -2rem;
}
@media screen and (max-width: 1440px) {
    .graphBox {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-gap: 20px;
        padding: 20px;
    }
    .graphBox .box {
        background-color: #fff;
        padding: 20px;
        box-shadow: 0 7px 25px rgba(0, 0, 0, 0.1);
        border-radius: 20px;
        width: 250px;

    }
    .container {
        position: relative;
        right: 15rem;
        top: -5rem;
        z-index: 50;
    }
}
@media screen and (min-width: 1920px) {
    #Coffee {
        width: 250px;
        height: 250px;
        position: fixed;
        right: 95rem;
        top: -2rem;
    }
    .container {
        position: relative;
        right: 22rem;
        top: -3rem;
        z-index: 50;
    }
    .box {
        width: 85%;

    }
    #dashboardheader {
        position:relative;
        top: 10px;
        right: -50rem;
        color: #fff;
        margin: 0;
        font-weight: lighter;
    }
    .dashboardbar {
        background-color: #8f654a;
        padding: 10px;
        position:fixed;
        top: -10px;
        right: -220px;
        width: 100%;
        z-index: 1;
        justify-content: center;
        align-items: center;
    }
    .box {
        z-index: 2;
    }
}