<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/applicationContext.xml</param-value>
    </context-param>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <error-page>
        <error-code>
            404
        </error-code>
        <location>
            /404 Not Found Page.jsp
        </location>
    </error-page>
    <error-page>
        <error-code>
            500
        </error-code>
        <location>
            /500 Internal Server Error Page.jsp
        </location>
    </error-page>
    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.login.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>com.login.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountList</servlet-name>
        <servlet-class>com.accountlist.AccountList</servlet-class>
    </servlet>
    <context-param>
        <param-name>url</param-name>
        <param-value>jdbc:derby://localhost:1527/NextGen</param-value>
    </context-param>
    <context-param>
        <param-name>username</param-name>
        <param-value>root</param-value>
    </context-param>
    <context-param>
        <param-name>password</param-name>
        <param-value>root</param-value>
    </context-param>
    <context-param>
        <param-name>driver</param-name>
        <param-value>org.apache.derby.jdbc.ClientDriver</param-value>
    </context-param>
    <context-param>
        <param-name>publicKey</param-name>
        <param-value>NextGenCNextGenC</param-value>
    </context-param>
    <context-param>
        <param-name>cypher</param-name>
        <param-value>AES/ECB/PKCS5Padding</param-value>
    </context-param>
    <servlet>
        <servlet-name>AddAccount</servlet-name>
        <servlet-class>com.accountlist.AddAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisableUser</servlet-name>
        <servlet-class>com.accountlist.DisableUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ItemList</servlet-name>
        <servlet-class>com.inventorylist.ItemList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ItemAction</servlet-name>
        <servlet-class>com.inventorylist.ItemAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddItem</servlet-name>
        <servlet-class>com.inventorylist.AddItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddItemPageRedirect</servlet-name>
        <servlet-class>com.inventorylist.AddItemPageRedirect</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditItem</servlet-name>
        <servlet-class>com.inventorylist.EditItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VariancePageRedirect</servlet-name>
        <servlet-class>com.variance.VariancePageRedirect</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveVariance</servlet-name>
        <servlet-class>com.variance.SaveVariance</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SuppliesRedirectPage</servlet-name>
        <servlet-class>com.supplies.SuppliesRedirectPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveDeliveries</servlet-name>
        <servlet-class>com.supplies.SaveDeliveries</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WasteRedirect</servlet-name>
        <servlet-class>com.waste.WasteRedirect</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveWastes</servlet-name>
        <servlet-class>com.waste.SaveWastes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductRedirect</servlet-name>
        <servlet-class>com.product.ProductRedirect</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProductRedirect</servlet-name>
        <servlet-class>com.product.AddProductRedirect</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProduct</servlet-name>
        <servlet-class>com.product.AddProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductAction</servlet-name>
        <servlet-class>com.product.ProductAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProductRedirect</servlet-name>
        <servlet-class>com.product.EditProductRedirect</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProduct</servlet-name>
        <servlet-class>com.product.EditProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SalesRedirect</servlet-name>
        <servlet-class>com.sales.SalesRedirect</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPassword</servlet-name>
        <servlet-class>com.forgot.ForgotPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnablePassword</servlet-name>
        <servlet-class>com.forgot.EnablePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ItemSearch</servlet-name>
        <servlet-class>com.inventorylist.ItemSearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductSearch</servlet-name>
        <servlet-class>com.product.ProductSearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SalesSearch</servlet-name>
        <servlet-class>com.sales.SalesSearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SuppliesSearch</servlet-name>
        <servlet-class>com.supplies.SuppliesSearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WasteSearch</servlet-name>
        <servlet-class>com.waste.WasteSearch</servlet-class>
    </servlet>
    <!--    <servlet>
        <servlet-name>InsertDataServlet</servlet-name>
        <url-pattern>com.imports.InsertDataServlet</url-pattern>
    </servlet>
    <servlet>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>com.imports.UploadServlet</url-pattern>
    </servlet>-->
    <servlet>
        <servlet-name>EditUser</servlet-name>
        <servlet-class>com.accountlist.EditUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserEdited</servlet-name>
        <servlet-class>com.accountlist.UserEdited</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ItemSort</servlet-name>
        <servlet-class>com.inventorylist.ItemSort</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SortingItems</servlet-name>
        <servlet-class>com.inventorylist.SortingItems</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SortRedirectSupplies</servlet-name>
        <servlet-class>com.supplies.SortRedirectSupplies</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SortingSupplies</servlet-name>
        <servlet-class>com.supplies.SortingSupplies</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SortRedirectVariance</servlet-name>
        <servlet-class>SortRedirectVariance</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SortingVariance</servlet-name>
        <servlet-class>com.variance.SortingVariance</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SortWasteRedirect</servlet-name>
        <servlet-class>com.waste.SortWasteRedirect</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SortingWaste</servlet-name>
        <servlet-class>com.waste.SortingWaste</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WelcomePageRedirect</servlet-name>
        <servlet-class>com.welcome.WelcomePageRedirect</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VarianceSearch</servlet-name>
        <servlet-class>com.variance.VarianceSearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnableUser</servlet-name>
        <servlet-class>com.accountlist.EnableUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AscendDescend</servlet-name>
        <servlet-class>com.inventorylist.AscendDescend</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WByItem</servlet-name>
        <servlet-class>com.waste.WByItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WBySold</servlet-name>
        <servlet-class>com.waste.WBySold</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WByWaste</servlet-name>
        <servlet-class>com.waste.WByWaste</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WByOther</servlet-name>
        <servlet-class>com.waste.WByOther</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VByItem</servlet-name>
        <servlet-class>com.supplies.VByItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VByDelivery</servlet-name>
        <servlet-class>com.supplies.VByDelivery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VByAdds</servlet-name>
        <servlet-class>com.supplies.VByAdds</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VAByItem</servlet-name>
        <servlet-class>com.variance.VAByItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VAByBeg</servlet-name>
        <servlet-class>com.variance.VAByBeg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VAByEnd</servlet-name>
        <servlet-class>com.variance.VAByEnd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PByPrice</servlet-name>
        <servlet-class>com.product.PByPrice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PByQuantity</servlet-name>
        <servlet-class>com.product.PByQuantity</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SByPrice</servlet-name>
        <servlet-class>com.sales.SByPrice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SByQuantity</servlet-name>
        <servlet-class>com.sales.SByQuantity</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SByTotal</servlet-name>
        <servlet-class>com.sales.SByTotal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductSortPage</servlet-name>
        <servlet-class>com.product.ProductSortPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SortingProduct</servlet-name>
        <servlet-class>com.product.SortingProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditAccountRedirect</servlet-name>
        <servlet-class>com.accountlist.EditAccountRedirect</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>*.htm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountList</servlet-name>
        <url-pattern>/AccountList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddAccount</servlet-name>
        <url-pattern>/AddAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisableUser</servlet-name>
        <url-pattern>/DisableUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ItemList</servlet-name>
        <url-pattern>/ItemList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ItemAction</servlet-name>
        <url-pattern>/ItemAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddItem</servlet-name>
        <url-pattern>/AddItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddItemPageRedirect</servlet-name>
        <url-pattern>/AddItemPageRedirect</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditItem</servlet-name>
        <url-pattern>/EditItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VariancePageRedirect</servlet-name>
        <url-pattern>/VariancePageRedirect</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveVariance</servlet-name>
        <url-pattern>/SaveVariance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SuppliesRedirectPage</servlet-name>
        <url-pattern>/SuppliesRedirectPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveDeliveries</servlet-name>
        <url-pattern>/SaveDeliveries</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WasteRedirect</servlet-name>
        <url-pattern>/WasteRedirect</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveWastes</servlet-name>
        <url-pattern>/SaveWastes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductRedirect</servlet-name>
        <url-pattern>/ProductRedirect</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProductRedirect</servlet-name>
        <url-pattern>/AddProductRedirect</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProduct</servlet-name>
        <url-pattern>/AddProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductAction</servlet-name>
        <url-pattern>/ProductAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProductRedirect</servlet-name>
        <url-pattern>/EditProductRedirect</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProduct</servlet-name>
        <url-pattern>/EditProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SalesRedirect</servlet-name>
        <url-pattern>/SalesRedirect</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPassword</servlet-name>
        <url-pattern>/ForgotPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnablePassword</servlet-name>
        <url-pattern>/EnablePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ItemSearch</servlet-name>
        <url-pattern>/ItemSearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductSearch</servlet-name>
        <url-pattern>/ProductSearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SalesSearch</servlet-name>
        <url-pattern>/SalesSearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SuppliesSearch</servlet-name>
        <url-pattern>/SuppliesSearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WasteSearch</servlet-name>
        <url-pattern>/WasteSearch</url-pattern>
    </servlet-mapping>
   
    <servlet-mapping>
        <servlet-name>EditUser</servlet-name>
        <url-pattern>/EditUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserEdited</servlet-name>
        <url-pattern>/UserEdited</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ItemSort</servlet-name>
        <url-pattern>/ItemSort</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SortingItems</servlet-name>
        <url-pattern>/SortingItems</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SortRedirectSupplies</servlet-name>
        <url-pattern>/SortRedirectSupplies</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SortingSupplies</servlet-name>
        <url-pattern>/SortingSupplies</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SortRedirectVariance</servlet-name>
        <url-pattern>/SortRedirectVariance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SortingVariance</servlet-name>
        <url-pattern>/SortingVariance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SortWasteRedirect</servlet-name>
        <url-pattern>/SortWasteRedirect</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SortingWaste</servlet-name>
        <url-pattern>/SortingWaste</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WelcomePageRedirect</servlet-name>
        <url-pattern>/WelcomePageRedirect</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VarianceSearch</servlet-name>
        <url-pattern>/VarianceSearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnableUser</servlet-name>
        <url-pattern>/EnableUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AscendDescend</servlet-name>
        <url-pattern>/AscendDescend</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WByItem</servlet-name>
        <url-pattern>/WByItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WBySold</servlet-name>
        <url-pattern>/WBySold</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WByWaste</servlet-name>
        <url-pattern>/WByWaste</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WByOther</servlet-name>
        <url-pattern>/WByOther</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VByItem</servlet-name>
        <url-pattern>/VByItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VByDelivery</servlet-name>
        <url-pattern>/VByDelivery</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VByAdds</servlet-name>
        <url-pattern>/VByAdds</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VAByItem</servlet-name>
        <url-pattern>/VAByItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VAByBeg</servlet-name>
        <url-pattern>/VAByBeg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VAByEnd</servlet-name>
        <url-pattern>/VAByEnd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PByPrice</servlet-name>
        <url-pattern>/PByPrice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PByQuantity</servlet-name>
        <url-pattern>/PByQuantity</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SByPrice</servlet-name>
        <url-pattern>/SByPrice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SByQuantity</servlet-name>
        <url-pattern>/SByQuantity</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SByTotal</servlet-name>
        <url-pattern>/SByTotal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductSortPage</servlet-name>
        <url-pattern>/ProductSortPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SortingProduct</servlet-name>
        <url-pattern>/SortingProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditAccountRedirect</servlet-name>
        <url-pattern>/EditAccountRedirect</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
