<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/applicationContext.xml</param-value>
    </context-param>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.login.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>com.login.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountList</servlet-name>
        <servlet-class>com.accountlist.AccountList</servlet-class>
    </servlet>
    <context-param>
        <param-name>url</param-name>
        <param-value>jdbc:derby://localhost:1527/NextGen</param-value>
    </context-param>
    <context-param>
        <param-name>username</param-name>
        <param-value>root</param-value>
    </context-param>
    <context-param>
        <param-name>password</param-name>
        <param-value>root</param-value>
    </context-param>
    <context-param>
        <param-name>driver</param-name>
        <param-value>org.apache.derby.jdbc.ClientDriver</param-value>
    </context-param>
    <context-param>
        <param-name>publicKey</param-name>
        <param-value>NextGenCNextGenC</param-value>
    </context-param>
    <context-param>
        <param-name>cypher</param-name>
        <param-value>AES/ECB/PKCS5Padding</param-value>
    </context-param>
    <servlet>
        <servlet-name>AddAccount</servlet-name>
        <servlet-class>com.accountlist.AddAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisableUser</servlet-name>
        <servlet-class>com.accountlist.DisableUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ItemList</servlet-name>
        <servlet-class>com.inventorylist.ItemList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ItemAction</servlet-name>
        <servlet-class>com.inventorylist.ItemAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddItem</servlet-name>
        <servlet-class>com.inventorylist.AddItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddItemPageRedirect</servlet-name>
        <servlet-class>com.inventorylist.AddItemPageRedirect</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditItem</servlet-name>
        <servlet-class>com.inventorylist.EditItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VariancePageRedirect</servlet-name>
        <servlet-class>com.variance.VariancePageRedirect</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveVariance</servlet-name>
        <servlet-class>com.variance.SaveVariance</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SuppliesRedirectPage</servlet-name>
        <servlet-class>com.supplies.SuppliesRedirectPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveDeliveries</servlet-name>
        <servlet-class>com.supplies.SaveDeliveries</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>*.htm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountList</servlet-name>
        <url-pattern>/AccountList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddAccount</servlet-name>
        <url-pattern>/AddAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisableUser</servlet-name>
        <url-pattern>/DisableUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ItemList</servlet-name>
        <url-pattern>/ItemList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ItemAction</servlet-name>
        <url-pattern>/ItemAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddItem</servlet-name>
        <url-pattern>/AddItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddItemPageRedirect</servlet-name>
        <url-pattern>/AddItemPageRedirect</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditItem</servlet-name>
        <url-pattern>/EditItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VariancePageRedirect</servlet-name>
        <url-pattern>/VariancePageRedirect</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveVariance</servlet-name>
        <url-pattern>/SaveVariance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SuppliesRedirectPage</servlet-name>
        <url-pattern>/SuppliesRedirectPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveDeliveries</servlet-name>
        <url-pattern>/SaveDeliveries</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
